<nav class="navbar navbar-inverse navbar-static-top">

    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" >Code-Y ~ AjaxInterceptor</div>
        </div>


        <ul class="nav navbar-nav navbar-right">
            <li class="" ng-click="callAsForm($event);">
                <a >FORM</a>
            </li>
            <li class="" ng-click="callAsList($event);">
                <a >LIST</a>
            </li>
            <li class="" ng-click="callAsSimple($event);">
                <a >SIMPLE</a>
            </li>
            <li class="" ng-click="callAsUpload($event);">
                <a >UPLOAD</a>
            </li>
            <li class="" ng-click="callAsError($event);">
                <a >ERROR</a>
            </li>
        </ul>
    </div>
</nav>
<div class="" style="clear:both;min-height: 30px;"></div>
